.resume {
    width: 900px;
    height: 800px;
    background: white;
    margin: 30px 220px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    position: absolute;
    justify-content: center;
}

.left {
    width: 250px;
    height: 760px;
    background: #033a3f;
    color: white;
    padding: 20px;
    position: absolute;
}


.right {
    width: 550px;
    height: 800px;
    padding: 20px;
    left: 300px;
    position: relative;
}

h1 {
    color: #033a3f;
}

.role {
    background: #238d78;
    color: white;
    display: inline-block;
    padding: 5px 15px;
    font-size: 20px;
    margin-top: 5px;
}

h4 {
    border-bottom: 2px solid #16a085;
    padding-bottom: 5px;
}
.icons{
    text-align:left;
}
.contact a{
    text-decoration: none;
    color: white;
    line-height: 30px;
}
.contact p,  .languages p, .strengths ul, .strengths p {
    margin: 5px ;
    font-size: 17px;
    line-height: 20px;
    font-weight:lighter;
}
.skills ul{
    line-height: 30px;
    font-weight: lighter;
}
#dots1{
    left: 10px;
    position: relative;
}
#dots2{
    position: relative;
    left: 33px;
}
#dots3{
    left: 11px;
    position: relative;
}
.contact i {
    margin-right: 10px;
}

.skills ul, .strengths ul {
    list-style: none;
    padding: 0;
}

.skills ul li, .strengths ul li {
    font-weight: bold;
}

.experience ul {
    margin: 0;
    padding-left: 20px;
}

.punjab p {
    bottom: 10px;
    position: relative;
}
.punjab h6{
    bottom: 35px;
    position: relative;
    font-size: 16px;
    color: grey;
}
.queen h4{
    position: relative;
    bottom: 40px;
}
.queen p{
    bottom: 50px;
    position: relative;
}
.queen h6 {
    position: relative;
    color: grey;
    bottom: 75px;
    font-size: 16px;
}